[Unit]
Description=BookCars Backend Server
Wants=mongod.service
After=mongod.service

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/opt/bookcars/backend
Type=simple
Restart=always
StandardOutput=append:/var/log/bookcars.log
StandardError=append:/var/log/bookcars.log

[Install]
WantedBy=multi-user.target
