[Unit]
Description=SiCarro API
Wants=mongod.service
After=mongod.service

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/opt/demo/api
Type=simple
Restart=always
StandardOutput=append:/var/log/bookcars.log
StandardError=append:/var/log/bookcars.log

[Install]
WantedBy=multi-user.target
