/**/.git
/**/node_modules
/**/dist
/**/logs
/**/tsconfig.tsbuildinfo
/**/vite.config.d.ts
/**/vite.config.js
/**/.env
/**/.env.example
/**/.env.development
/**/.env.production
/**/.dockerignore
/**/Dockerfile
mobile/
.github/
.vscode/
__scripts/
__services/
