div.bank-details {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  transform: translate3d(0, 0, 0);
}

.bank-details-form-wrapper {
  margin: 100px 0;
  padding: 62px;
}

.bank-details-form-title {
  text-align: center;
  text-transform: capitalize;
  color: #121212;
  margin-top: -18px;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  .bank-details-form {
    width: 360px;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {
  .bank-details-form {
    width: 550px;
  }
}
