div.bookings {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

div.bookings div.col-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    padding: 20px 0 0 12px;
    background: #fefefe;
}

div.bookings div.col-1 .cl-company-filter,
div.bookings div.col-1 .cl-status-filter,
div.bookings div.col-1 .cl-booking-filter {
    margin-bottom: 10px;
}

div.bookings div.col-1 .cl-new-booking {
    width: 265px;
    margin-left: 5px;
}

div.bookings div.col-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 300px;
}