div.booking-filter {
    background: #fafafa;
    margin: 10px 10px 0 0;
    padding: 5px;
    border: 1px solid #dadada;
    font-size: 13px;
}

div.booking-filter .btn-search {
    margin: 10px 0;
}