div.cars {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
}

div.cars div.search {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.cars div.col-1 .filter,
div.cars div.col-1 div.info-box {
    background-color: #fff;
}

/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {
    div.cars .sc-search {
        width: 80%;
    }

    div.cars .new-car {
        margin: 20px 5px 5px 0;
        width: 100%;
    }

    div.cars div.col-1 {
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: center;
    }

    div.cars div.col-1 div.col-1-container {
        width: 100%;
        max-width: 480px;
    }

    div.cars .car-filter {
        text-align: left;
    }

    div.cars div.col-2 {
        margin-top: 3px;
        padding: 1px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    div.cars div.col-1 .car-count {
        display: none;
    }
}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {
    div.cars div.col-1 {
        float: left;
        width: 300px;
        margin-left: 20px;
    }

    div.cars div.col-2 {
        float: left;
        width: calc(100% - 320px);
        margin-bottom: 50px;
    }

    div.cars div.search {
        margin-top: 15px;
    }

    div.cars .new-car {
        margin: 10px 5px 0 0;
        width: 100%;
    }
}