.company {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.company div.col-1 .company-name {
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
}

.company div.col-1 .company-info {
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
    color: #676767;
}

.company div.col-1 .company-actions {
    text-align: center;
}

.company div.col-1 div.car-company {
    display: flex;
    align-items: center;
}

.company div.col-1 div.car-company span.car-company-logo {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    display: inline-block;
    overflow: hidden;
    vertical-align: text-bottom;
}

.company div.col-1 div.car-company span.car-company-info {
    color: #a8a8a8;
    display: inline-block;
    font-size: .9em;
    line-height: 1em;
    white-space: nowrap;
    margin-left: 5px;
}

/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {
    .company div.col-1 {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 320px;
        padding-top: 5px;
        background: #fefefe;
        border-bottom: #eee solid 1px;
    }

    .company div.col-1 .company-avatar-sec {
        position: relative;
        left: 50%;
        transform: translateX(-22%);
    }

    .company div.col-2 {
        position: absolute;
        top: 320px;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: auto;
    }

    .company div.col-2 .cars {
        width: 100%;
    }
}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {
    .company div.col-1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 300px;
        padding-top: 20px;
        background: #fefefe;
        border-right: #eee solid 1px;
    }

    .company div.col-1 .company-avatar-sec {
        position: relative;
        left: 50%;
        transform: translateX(-30%);
    }

    .company div.col-2 {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 300px;
        overflow: auto;
        padding-top: 10px;
    }
}