.companies {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.companies .search {
    width: 235px;
}

.companies .new-company {
    width: 270px;
    margin: 20px 5px 0 0;
}

/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {
    .companies .col-1 {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 120px;
        padding-left: calc(50% - 135px);
        padding-top: 5px;
        background: #fefefe;
        border-bottom: #eee solid 1px;
    }

    .companies .col-2 {
        position: absolute;
        top: 125px;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: auto;
    }

    .companies section.list {
        width: 100%;
    }

    .companies section.list article {
        position: relative;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 2px;
        color: #333;
        font-size: 12px;
        height: 100px;
        padding: 25px;
        margin: 0 1px 10px;
    }

    .companies section.list article .company-item .company-item-avatar {
        float: left;
        margin-top: 3px;
        color: #333;
    }

    .companies section.list article .company-item .company-item-title {
        float: left;
        display: inline;
        font-size: 1.7em;
        margin-left: 20px;
        text-size-adjust: none;
        line-height: 1.3em;
        text-decoration: none;
        color: #333;
    }

    .companies section.list article .company-actions {
        float: right;
    }
}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {
    .companies .col-1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 300px;
        padding: 20px 0 0 20px;
        background: #fefefe;
        border-right: #eee solid 1px;
    }

    .companies .col-2 {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 300px;
        overflow: auto;
    }

    .companies section.list {
        width: 500px;
        margin-left: calc(50% - 250px) !important;
        margin-top: 15px;
    }

    .companies section.list article {
        position: relative;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 2px;
        color: #333;
        font-size: 12px;
        height: 100px;
        padding: 25px;
        margin-bottom: 15px;
    }

    .companies section.list article .company-item .company-item-avatar {
        float: left;
        margin-top: 3px;
        color: #333;
    }

    .companies section.list article .company-item .company-item-title {
        float: left;
        display: inline;
        font-size: 1.7em;
        margin-left: 20px;
        text-size-adjust: none;
        line-height: 1.3em;
        text-decoration: none;
        color: #333;
    }

    .companies section.list article .company-actions {
        float: right;
    }
}