div.company-filter {
    background: #fafafa;
    margin: 10px 10px 0 0;
    padding: 5px;
    border: 1px solid #dadada;
    font-size: 13px;
    max-height: 280px;
    overflow: auto;
}

div.company-filter ul.company-list {
    list-style-type: none;
    font-size: 13px;
    margin: 15px 0 0 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

div.company-filter ul.company-list li {
    margin-bottom: 12px;
    margin-left: 15px;
    margin-right: 20px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.company-filter ul.company-list li label {
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    box-shadow: none;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 0;
    font-weight: 400;
    display: flex;
    margin-left: 5px;
}

div.company-filter ul.company-list li label img {
    margin: 0;
}

div.company-filter ul.company-list li input[type='checkbox'] {
    display: inline-flex;
}

div.company-filter div.filter-actions {
    text-align: center;
}

div.company-filter div.filter-actions span.uncheckall {
    text-decoration: underline;
    cursor: pointer;
    color: #0064C8;
}