/* Create Supplier */

.supplier-form-wrapper {
  margin: 32px 0;
}

.supplier-form-title {
  text-align: center;
  text-transform: capitalize;
  color: #121212;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <= 960px) {
  .supplier-form {
    margin-top: 45px !important;
    margin-left: calc(50% - 180px) !important;
    width: 360px;
    height: 900px;
    padding: 30px;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >= 960px) {
  .supplier-form {
    margin-top: 45px !important;
    margin-left: calc(50% - 275px) !important;
    width: 550px;
    height: 900px;
    padding: 30px;
  }
}
