div.info-box {
  background: #fafafa;
  margin: 10px 0;
  border: 1px solid #dadada;
  border-radius: 5px;
  height: 40px;
}

div.info-box .info-box-icon {
  position: relative;
  left: 5px;
  top: 7px;
}

div.info-box span.info-box-text {
  color: rgba(0, 0, 0, 0.63);
  position: relative;
  left: 90px;
  font-size: 17px;
  font-weight: 700;
}
