div.locations {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

div.locations .search {
    width: 235px;
}

div.locations .new-location {
    margin: 20px 5px 0 0;
    width: 270px;
}


/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {
    div.locations div.col-1 {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 120px;
        padding-left: calc(50% - 135px);
        padding-top: 5px;
        background: #fefefe;
        border-bottom: #eee solid 1px;
    }

    div.locations div.col-2 {
        position: absolute;
        top: 120px;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {
    div.locations div.col-1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 300px;
        padding: 20px 0 0 20px;
        background: #fefefe;
        border-right: #eee solid 1px;
    }

    div.locations div.col-2 {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 300px;
    }
}