/* Passwprd Reset */

div.reset-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

div.reset-password h1.reset-password-form-title {
  text-align: center;
  margin-top: 0;
}

div.resend {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.reset-password-form h1 {
  text-align: center;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <= 960px) {
  .reset-password-form {
    margin-top: 40px;
    width: 330px;
    height: 440px;
    padding: 30px;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >= 960px) {
  .reset-password-form {
    margin-top: 40px;
    width: 450px;
    height: 390px;
    padding: 30px;
  }
}
