div.update-supplier .resend-activation-link {
  cursor: pointer;
  margin: 20px 0 10px;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <= 960px) {
  .supplier-form-update {
    margin-top: 45px !important;
    margin-left: calc(50% - 180px) !important;
    width: 360px;
    height: 920px;
    padding: 30px;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >= 960px) {
  .supplier-form-update {
    margin-top: 45px !important;
    margin-left: calc(50% - 275px) !important;
    width: 550px;
    height: 850px;
    padding: 30px;
  }
}
