div.update-company {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

div.update-company .resend-activation-link {
    cursor: pointer;
    margin: 20px 0 10px 0;
}


/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {
    .company-form-update {
        margin-top: 45px !important;
        margin-left: calc(50% - 180px) !important;
        width: 360px;
        height: 920px;
        padding: 30px;
    }
}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {
    .company-form-update {
        margin-top: 45px !important;
        margin-left: calc(50% - 275px) !important;
        width: 550px;
        height: 850px;
        padding: 30px;
    }
}