[Unit]
Description=noip service
Wants=network-online.target
After=network-online.target
#After=network.target
#After=syslog.target

[Service]
Type=forking
ExecStart=/usr/local/bin/noip2
Restart=always

[Install]
WantedBy=multi-user.target
Alias=noip.service
