div.update-supplier {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  transform: translate3d(0, 0, 0);
  margin: 45px 0;
}

div.update-supplier .resend-activation-link {
  cursor: pointer;
  margin: 20px 0 10px;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  .supplier-form-update {
    width: 360px;
    padding: 30px;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {
  .supplier-form-update {
    width: 550px;
    padding: 30px;
  }
}
