/* Create Booking */

.booking-form-wrapper {
  margin: 32px 0;
}

/* MUI overrides for standard variants to match Shadcn better if needed */
.MuiInput-root:before {
  border-bottom: 1px solid #e2e8f0 !important;
}

.MuiInput-root:hover:not(.Mui-disabled):before {
  border-bottom: 2px solid #94a3b8 !important;
}
