/* Passwprd Reset */
div.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  margin: 45px 0;
  transform: translate3d(0, 0, 0);
}

div.forgot-password h1.forgot-password-title {
  text-align: center;
  margin-top: 0;
}

.forgot-password-form h1 {
  text-align: center;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  .forgot-password-form {
    margin-top: 40px;
    width: 330px;
    padding: 30px;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {
  .forgot-password-form {
    margin-top: 40px;
    width: 450px;
    padding: 30px;
  }
}
