/* Header */

.header {
  position: sticky !important;
  top: 0;
  z-index: 1400;
}

.menu {
  z-index: 1401 !important;
}

.side-menu li {
  cursor: pointer;
}

.side-menu li:hover {
  background-color: #f1f1f1;
}

.header-action {
  margin-right: 20px;
}

.header-desktop {
  display: none;
}

.header-mobile {
  display: flex;
  margin-right: -13px;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  .header {
    min-height: 56px;
  }

  .toolbar {
    min-height: 56px !important;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {
  .header {
    min-height: 64px;
  }

  .header-desktop {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
  }

  .header-mobile {
    display: none;
  }
}
