/* Passwprd Reset */

div.activate {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 40px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
}

div.resend {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 40px;
}

.activateForm h1,
.resendForm h1 {
	text-align: center;
	color: #f37022;
}

.resendForm div.resendFormContent {
	display: inline-block;
	width: 350px;
	position: relative;
	left: calc(50% - 150px);
}

.resendForm div.resendFormContent label {
	float: left;
}

.resendForm div.resendFormContent .btnResend {
	float: left;
	clear: left;
	width: 90px;
	margin-left: calc(50% - 65px) !important;
	margin-top: 20px !important;
}

.resendForm div.resendFormContent p.goToHome {
	float: left;
	clear: left;
	width: 200px;
	margin-left: calc(50% - 100px);
}

/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {
	.activateForm {
		margin-top: 40px;
		width: 330px;
		height: 440px;
		padding: 30px;
	}

	.resendForm {
		margin-top: 40px;
		width: 330px;
		height: 330px;
		padding: 30px;
	}
}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {
	.activateForm {
		margin-top: 40px;
		width: 450px;
		height: 390px;
		padding: 30px;
	}

	.resendForm {
		margin-top: 40px;
		width: 430px;
		height: 270px;
		padding: 30px;
	}
}