div.bookingFilter {
    background: #fafafa;
    margin: 10px 10px 0 0;
    border: 1px solid #dadada;
    font-size: 13px;
}

div.bookingFilter .bfSearch {
    margin-top: 7px;
}

div.bookingFilter .btnSearch {
    margin: 20px 0;
}