section.carList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.carList .emptyList {
    margin-top: 15px;
    text-align: center;
    width: 250px;
    margin-left: calc(50% - 125px);
}

section.carList article .btnBook {
    border: 0;
    border-radius: 5px;
    color: #fff;
    height: 42px;
    margin: 0;
    white-space: nowrap;
    background: #f37022;
    font-size: 1.5em;
    font-weight: 700;
    padding: 1em;
}

/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {
    section.carList article {
        position: relative;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: #333;
        font-size: 12px;
        margin: 0 1px 10px;
        height: 730px;
        max-width: 480px;
        padding: 15px;
    }

    section.carList article div.name {
        position: relative;
        padding: 7px 11px;
        pointer-events: none;
        text-align: center;
    }

    section.carList article div.name h2 {
        display: inline;
        font-size: 2em;
        font-weight: 700;
        text-size-adjust: none;
        line-height: 1.3em;
    }

    section.carList article div.car {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section.carList article div.car .carImg {
        margin-top: 15px;
        margin-bottom: 0;
        width: 75%;
    }

    section.carList article div.car div.carCompany {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 10px;
        left: 5px;
    }

    section.carList article div.car div.carCompany label.carCompanyInfo {
        color: rgba(0, 0, 0, 0.6);
        font-size: .9em;
        line-height: 1em;
        white-space: nowrap;
        margin-left: 5px;
    }

    section.carList article div.car div.carAvailable,
    section.carList article div.car div.carUnavailable {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 50px;
        left: 5px;
    }

    section.carList article div.carInfo ul.extrasList .available {
        color: #1f9201;
    }

    section.carList article div.carInfo ul.extrasList .unavailable {
        color: #F44336;
    }

    section.carList article div.carInfo ul.extrasList .extraInfo {
        color: rgba(0, 0, 0, 0.35)
    }

    section.carList article div.price {
        display: table;
        position: absolute;
        bottom: 65px;
        right: 10px;
    }

    section.carList article label.priceMain {
        color: #383838;
        font-size: 2em;
        font-weight: 700;
        line-height: 1em;
        white-space: nowrap;
        display: table-row;
        text-align: right;
    }

    section.carList article label.priceDays,
    section.carList article label.priceDay {
        font-size: 13px;
        color: #a1a1a1;
        display: table-row;
        text-align: right;
    }

    section.carList article div.carInfo {
        margin-top: 5px;
    }

    section.carList article div.carInfo ul.carInfoList {
        position: relative;
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
    }

    section.carList article div.carInfo ul.carInfoList li.carType,
    section.carList article div.carInfo ul.carInfoList li.gearbox,
    section.carList article div.carInfo ul.carInfoList li.seats,
    section.carList article div.carInfo ul.carInfoList li.doors,
    section.carList article div.carInfo ul.carInfoList li.aircon {
        width: 60px;
        margin-bottom: 10px;
        padding-top: 3px;
        box-shadow: 0 0 0 1px #ddd inset;
        margin-left: 5px;
        border-radius: 5px;
        text-align: center;
    }

    section.carList article div.carInfo ul.carInfoList li.mileage,
    section.carList article div.carInfo ul.carInfoList li.fuelPolicy {
        width: 100%;
        margin-bottom: 5px;
    }

    section.carList article div.carInfo ul.extrasList {
        position: relative;
        list-style: none;
        padding: 0;
    }

    section.carList article div.carInfo ul.extrasList li {
        margin: 5px;
        width: 100%;
    }

    section.carList article div.carInfo ul.extrasList .available {
        color: #1f9201;
    }

    section.carList article div.carInfo ul.extrasList .unavailable {
        color: #F44336;
    }

    section.carList article div.carInfo ul.extrasList .extraInfo {
        color: rgba(0, 0, 0, 0.35)
    }

    section.carList article div.carInfo ul.extrasList span.carInfoListText {
        vertical-align: super;
        margin-left: 3px;
    }

    section.carList article div.carInfo ul.carInfoList div.carInfoListItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 2px;
    }

    section.carList article div.carInfo ul.carInfoList li.mileage div.carInfoListItem,
    section.carList article div.carInfo ul.carInfoList li.fuelPolicy div.carInfoListItem {
        width: fit-content;
    }

    section.carList article div.carInfo ul.carInfoList span.carInfoListText {
        vertical-align: super;
        margin-left: 3px;
    }

    section.carList article div.carInfo ul.carInfoList li .carDoors {
        position: relative;
        width: 20px;
        height: 20px;
        margin: 2px;
    }

    section.carList article div.action {
        position: absolute;
        right: 0;
        bottom: 5px;
        right: 7px;
    }
}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {

    section.carList {
        padding: 10px;
    }

    section.carList article {
        position: relative;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: #333;
        font-size: 12px;
        margin-bottom: 10px;
        height: 430px;
        width: 800px;
    }

    section.carList article div.name {
        position: relative;
        padding: 7px 11px;
        pointer-events: none;
    }

    section.carList article div.name h2 {
        display: inline;
        font-size: 1.8em;
        font-weight: 700;
        margin-left: 28%;
        text-size-adjust: none;
        line-height: 1.3em;
    }

    section.carList article div.car {
        float: left;
        padding: 10px;
        width: 28%;
    }

    section.carList article div.car .carImg {
        margin-top: 15px;
        margin-bottom: 0;
        width: 100%;
    }

    section.carList article div.car div.carCompany {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 20px;
    }

    section.carList article div.car div.carCompany label.carCompanyInfo {
        color: rgba(0, 0, 0, 0.6);
        font-size: .9em;
        line-height: 1em;
        white-space: nowrap;
        margin-left: 5px;
    }

    section.carList article div.price {
        display: table;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    section.carList article label.priceMain {
        color: #383838;
        font-size: 2.5em;
        font-weight: 700;
        line-height: 1em;
        white-space: nowrap;
        display: table-row;
        text-align: right;
    }

    section.carList article label.priceDays,
    section.carList article label.priceDay {
        font-size: 13px;
        color: #a1a1a1;
        display: table-row;
        text-align: right;
    }

    section.carList article div.carInfo {
        float: left;
        width: 47%;
        margin-top: 5px;
    }

    section.carList article div.carInfo ul.carInfoList {
        position: relative;
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
    }

    section.carList article div.carInfo ul.carInfoList li.carType,
    section.carList article div.carInfo ul.carInfoList li.gearbox,
    section.carList article div.carInfo ul.carInfoList li.seats,
    section.carList article div.carInfo ul.carInfoList li.doors,
    section.carList article div.carInfo ul.carInfoList li.aircon {
        width: 60px;
        margin-bottom: 10px;
        padding-top: 3px;
        box-shadow: 0 0 0 1px #ddd inset;
        margin-left: 5px;
        border-radius: 5px;
        text-align: center;
    }

    section.carList article div.carInfo ul.carInfoList li.mileage,
    section.carList article div.carInfo ul.carInfoList li.fuelPolicy {
        width: 100%;
        margin-bottom: 5px;
    }

    section.carList article div.carInfo ul.extrasList {
        position: relative;
        list-style: none;
        padding: 0;
    }

    section.carList article div.carInfo ul.extrasList li {
        margin: 5px;
        width: 100%;
    }

    section.carList article div.carInfo ul.extrasList .available {
        color: #1f9201;
    }

    section.carList article div.carInfo ul.extrasList .unavailable {
        color: #F44336;
    }

    section.carList article div.carInfo ul.extrasList .extraInfo {
        color: rgba(0, 0, 0, 0.35)
    }

    section.carList article div.carInfo ul.extrasList span.carInfoListText {
        vertical-align: super;
        margin-left: 3px;
    }

    section.carList article div.carInfo ul.carInfoList div.carInfoListItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 2px;
    }

    section.carList article div.carInfo ul.carInfoList li.mileage div.carInfoListItem,
    section.carList article div.carInfo ul.carInfoList li.fuelPolicy div.carInfoListItem {
        width: fit-content;
    }

    section.carList article div.carInfo ul.carInfoList span.carInfoListText {
        vertical-align: super;
        margin-left: 3px;
    }

    section.carList article div.carInfo ul.carInfoList li .carDoors {
        position: relative;
        width: 20px;
        height: 20px;
        margin: 2px;
    }

    section.carList article div.action {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

}