div.depositFilter div.filterElements {
    padding: 7px 5px;
}

div.depositFilter div.filterElements div.filterElement input[type='radio'].depositRadio {
    cursor: pointer;
    margin-left: 5px;
}

div.depositFilter div.filterElements div.filterElement label {
    margin-left: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
}

div.depositFilter div.filterActions {
    text-align: center;
    padding-bottom: 10px;
}