/* Passwprd Reset */

div.resetPassword {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 40px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
}

div.resetPassword h1.resetPasswordTitle {
	text-align: center;
	margin-top: 0;
	color: #f37022;
}

.resetPasswordForm h1 {
	text-align: center;
}

/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {
	.resetPasswordForm {
		margin-top: 40px;
		width: 330px;
		padding: 30px;
	}
}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {
	.resetPasswordForm {
		margin-top: 40px;
		width: 450px;
		padding: 30px;
	}
}