/* Signin */
div.signin {
    position: absolute;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}

div.signin .signinFormTitle {
    text-align: center;
    text-transform: capitalize;
    margin-top: 35px;
    color: #f37022;
}

div.signin div.signinButtons {
    float: right;
    margin-top: 20px;
}

div.signin .formError {
    clear: both;
    height: 65px;
    padding-top: 10px;
    text-align: center;
}

div.signin div.stayConnected {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

div.signin div.stayConnected input[type='checkbox'] {
    margin-right: 5px;
}

div.signin div.stayConnected label {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}

div.signin div.resetPassword {
    margin-top: 15px;
}

/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {

    div.signin .signinForm {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 350px;
        height: 430px;
        margin-top: 45px;
        margin-left: calc(50% - 175px);
        margin-bottom: 50px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        padding: 15px;
    }

    div.signin div.signinButtons {
        margin-top: 15px;
        margin-bottom: 5px;
        display: grid;
        width: 100%;
    }

    div.signin div.signinButtons button {
        margin-right: 0;
    }

}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {

    div.signin .signinForm {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 380px;
        height: 390px;
        margin-top: 45px;
        margin-left: calc(50% - 190px);
        margin-bottom: 50px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        padding: 15px;
    }
}