div.booking-filter {
  background: #fff;
  margin: 10px 10px 0 0;
  border: 1px solid #dadada;
  font-size: 13px;
}

div.booking-filter .bf-search {
  margin-top: 7px;
}

div.booking-filter .btn-search {
  margin: 20px 0;
}
