div.booking {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

div.booking div.col-2 div.col-2-header {
    text-align: right;
}

div.booking div.col-1 div.booking-buttons {
    float: right;
}

div.booking div.col-2 div.col-2-header div.price {
    width: fit-content;
    float: right;
}

div.booking div.col-2 div.col-2-header label.price-main {
    color: #383838;
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
    white-space: nowrap;
    display: table-row;
    text-align: right;
}

div.booking div.col-2 div.col-2-header label.price-days,
div.booking div.col-2 div.col-2-header label.price-day {
    font-size: 13px;
    color: #a1a1a1;
    display: table-row;
    text-align: right;
}

/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {
    div.booking div.col-1 {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 20px;
        background: #fefefe;
        border-bottom: #eee solid 1px;
        overflow: auto;
    }

    div.booking div.col-2 {
        display: none;
    }
}

@media only screen and (max-width: 1270px) {
    div.booking div.col-2 .car {
        display: none;
    }
}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {
    div.booking div.col-1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 450px;
        background: #fefefe;
        border-right: #eee solid 1px;
        padding: 25px;
        overflow: auto;
    }

    div.booking div.col-2 {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 450px;
        padding-top: 10px;
    }

    div.booking div.col-2 div.col-2-header {
        padding-right: 25px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}