div.car-filter {
  background: #fff;
  margin: 10px 0;
  font-size: 13px;
}

div.car-filter form {
  padding: 15px 8px;
}

div.car-filter .pickup-location,
div.car-filter .drop-off-location,
div.car-filter .from,
div.car-filter .to,
div.car-filter .search,
div.car-filter .chk-same-location {
  padding: 5px;
}

div.car-filter .btn-search {
  min-height: 32px;
  margin: 5px 0;
}

div.car-filter .chk-same-location {
  color: rgb(0 0 0 / 70%);
  font-weight: 400;
  line-height: 1.4em;
  font-size: 0.9em;
  display: inline-block;
  width: 100%;
}

div.car-filter .chk-same-location label {
  cursor: pointer;
  padding: 2px;
  vertical-align: top;
}

div.car-filter .chk-same-location input[type='checkbox'] {
  cursor: pointer;
}

form.car-filter {
  background-color: #fff;
  border: #3CB371 1px solid;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

form.car-filter div.field {
  display: flex;
  flex-direction: column;
}

form.car-filter div.field span.location {
  font-weight: 500;
}

form.car-filter div.field span.date {
  color: #757575;
}

form.car-filter div.field .control {
  margin: 5px 0;
}

form.car-filter div.field .drop-off-date {
  margin-bottom: 47px;
}

form.car-filter span.separator {
  margin: 0 50px;
}

form.car-filter span.separator::after {
  content: '';
  border-top: 5px solid transparent;
  border-left: 5px solid #707070;
  border-bottom: 5px solid transparent;
  float: right;
  margin: 7px 7px 0;
}

form.car-filter div.form-buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

form.car-filter div.form-buttons .btn-edit {
  min-width: 107px;
  min-height: 36px;
}

form.car-filter div.form-buttons .btn-search {
  min-width: 92px;
  min-height: 36px;
  margin: 0 5px 0 15px;
}

form.car-filter div.form-buttons .btn-cancel {
  min-width: 92px;
  min-height: 36px;
  margin: 0 5px;
}
