section.car-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.car-list .empty-list {
  margin-top: 15px;
  text-align: center;
  width: 250px;
}

@media only screen and (width <=960px) {
  section.car-list .empty-list {
    width: calc(100% - 20px);
  }
}
