div.cars {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
}

/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {
    div.cars div.col-1 {
        display: none;
    }

    div.cars div.col-2 {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {
    .cars div.col-1 {
        float: left;
        width: 300px;
        margin-left: 20px;
    }

    .cars div.col-2 {
        float: left;
        width: calc(100% - 320px);
        margin-bottom: 50px;
    }
}