div.checkout-session {
  background-color: #F5F5F5;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: calc(100vh - 65px);
  transform: translate3d(0, 0, 0);
}

div.checkout-session .status {
  margin: 40px 0 0 30px;
}

@media only screen and (width <=960px) {
  div.checkout-session .status {
    margin: 40px 10px 0 10px;
  }
}
