div.booking {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: center;
  margin: 45px 0;
  transform: translate3d(0, 0, 0);
}

@media only screen and (width <=960px) {
  div.booking {
    flex: 0 1 auto;
  }
}

div.booking .booking-form-title {
  text-align: center;
  text-transform: capitalize;
  color: #232323;
  margin-bottom: 30px;
}

div.booking div.booking-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

div.booking div.booking-info span {
  color: #444;
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  margin-left: 5px;
}

div.booking div.booking-options-container,
div.booking div.booking-details-container,
div.booking div.payment-options-container {
  background: #fbfbfb;
  border: 1px solid #d9d8d9;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 15px;
}

div.booking div.booking-options,
div.booking div.payment-options {
  color: #333;
  user-select: none;
}

div.booking div.payment-options span.payment-info {
  margin-left: 10px;
  color: rgb(0 0 0 / 55%);
  font-size: 13px;
}

@media only screen and (width <=960px) {
  div.booking div.payment-options span.payment-button {
    display: flex;
    flex-direction: column;
  }

  div.booking div.payment-options span.payment-info {
    margin-left: 0;
  }
}

div.booking div.booking-options span.booking-option-label {
  font-weight: 700;
}

div.booking div.booking-options span.booking-option-label::after {
  content: ' ';
}

div.booking div.booking-options span.booking-option-value {
  color: rgb(0 0 0 / 55%);
}

div.booking div.booking-details {
  display: table;
  color: #333;
  font-size: 15px;
}

div.booking div.booking-details div.booking-detail {
  display: table-row;
}

div.booking div.booking-details div.booking-detail span.booking-detail-title,
div.booking div.booking-details div.booking-detail div.booking-detail-value {
  display: table-cell;
}

div.booking div.booking-details div.booking-detail div.booking-detail-value {
  color: rgb(0 0 0 / 55%);
  word-break: break-word;
}

div.booking div.booking-details div.booking-detail span.booking-detail-title {
  font-weight: 700;
  width: 250px;
}

div.booking div.booking-details div.booking-detail div.booking-detail-value div.car-supplier {
  display: flex;
  align-items: center;
}

div.booking div.booking-details div.booking-detail div.booking-detail-value span.car-supplier-name {
  color: rgb(0 0 0 / 60%);
  font-size: 0.9em;
  line-height: 1em;
  white-space: nowrap;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  width: 200px;
}

div.booking div.booking-details div.booking-detail div.booking-price {
  font-size: 17px;
  font-weight: 700;
  color: #333;
}

div.booking div.driver-details {
  background: #fbfbfb;
  border: 1px solid #d9d8d9;
  padding: 25px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.booking div.booking-tos {
  margin-top: 10px;
}

div.booking div.booking-buttons {
  display: inline-block;
  width: 100%;
}

div.booking div.booking-buttons button,
div.booking div.booking-buttons a {
  float: right;
}

div.booking .btn-checkout,
div.booking .btn-cancel {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
  color: #fff;
  height: 42px;
  min-width: 164px;
  margin: 0;
  white-space: nowrap;
  padding: 5px 32px;
  margin-left: 7px;
}

div.booking .btn-checkout {
  background: #232323;
}

div.booking .btn-cancel {
  background: #999;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  div.booking .booking-form {
    padding: 5px;
    margin: 10px;
  }

  div.booking .btn-checkout,
  div.booking .btn-cancel {
    width: 100%;
  }

  div.booking div.booking-options span.booking-option-value,
  div.booking div.booking-details div.booking-detail span.booking-detail-title,
  div.booking div.booking-details div.booking-detail div.booking-detail-value {
    display: table-row;
  }

  div.booking div.booking-details div.booking-detail div.booking-detail-value {
    line-height: 25px;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {

  div.booking .booking-form {
    width: 860px;
    padding: 30px;
  }

  div.booking form,
  div.booking div.booking-options-container,
  div.booking div.booking-details-container,
  div.booking div.payment-options-container {
    width: 800px;
  }

  div.booking div.driver-details-form {
    width: 390px;
  }
}
