.content {
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.btn-primary {
    background-color: #f37022 !important;
}

.btn-primary:hover {
    background-color: #ea6c21 !important;
}

.btn-secondary,
.btn-secondary:hover {
    background-color: #999999 !important;
}

.validate-email {
    position: absolute;
    top: 65px;
    margin: 15px;
}

.btn-resend {
    margin: 0 10px 0 10px !important;
}

.required:after {
    content: " *";
}

.form-error {
    clear: both;
    height: 65px;
    padding-top: 10px;
    text-align: center;
}