/* Passwprd Reset */
div.forgot-password {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  justify-content: center;
  padding-top: 120px;
  transform: translate3d(0, 0, 0);
  min-height: 100vh;
}

.forgot-password-form {
  height: fit-content;
}

div.forgot-password h1.forgot-password-title {
  text-align: center;
  margin-top: 0;
  color: #232323;
}

.forgot-password-form h1 {
  text-align: center;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  .forgot-password-form {
    margin-top: 40px;
    width: 330px;
    padding: 30px;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {
  .forgot-password-form {
    margin-top: 40px;
    width: 450px;
    padding: 30px;
  }
}
