/* Header */
.header {
  /* position: -webkit-sticky !important;
  position: sticky !important;
  top: 0; 
  z-index: 1400; */
  transform: translate3d(0, 0, 0);
}

.menu {
  z-index: 1401 !important;
}

.header-action {
  margin-right: 20px;
}

.header-desktop {
  display: flex;
}

.header-mobile {
  display: none;
}

.header .btn {
  background-color: transparent !important;
  color: #121212 !important;
}

.header .logo {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #121212;
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {
  .header {
    min-height: 64px;
  }
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  .header {
    min-height: 56px;
  }

  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
    margin-right: -13px;
  }

  .toolbar {
    min-height: 56px !important;
  }
}
