div.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden auto;
}

div.home footer {
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  color: #70757a;
  border-top: 1px solid #ebebeb;
  position: relative;
  bottom: 0;
}

div.home footer div.copyright span.part1,
div.home footer div.copyright span.part3 {
  font-size: 12px;
}

div.home footer div.copyright span.part2 {
  font-size: 10px;
  position: relative;
  top: -5px;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  div.home div.home-content {
    padding: 60px 0;
    justify-content: flex-start !important;
    height: 960px;
  }

  div.home-cover {
    font-size: 40px;
    font-weight: 800;
    padding: 20px 5px 10px 5px;
  }

  div.home div.home-content div.home-search {
    width: calc(100% - 40px);
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
  }
}

/* Device width is between 500px and 960px */

@media only screen and (width >=500px) and (width <=960px) {
  div.home footer div.secure-payment {
    bottom: 0;
  }
}

div.home {
  transform: translate3d(0, 0, 0);
}

div.home div.home-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/cover.jpg');
  background-size: cover;
  background-position: bottom;
  width: 100%;
}

div.home div.home-content::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: rgba(51, 51, 51, .22);
  clear: both;
  z-index: 1;
}

div.home div.home-cover {
  z-index: 2;
  color: #fff;
  text-align: center;
  letter-spacing: -.03em;
  -webkit-font-smoothing: antialiased;
}

div.home div.home-content div.home-search {
  box-shadow: 0px 3px 5px -1px #00000033, 0px 1px 18px 0px #0000001F, 0px 6px 10px 0px #00000024;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  z-index: 2;
}

div.home div.suppliers {
  width: 80%;
  margin: 20px 0;
}

div.home div.suppliers h1 {
  text-align: center;
  margin-bottom: 40px;
}

div.home div.destinations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 50px 0 60px 0;
}

div.home div.destinations h1 {
  width: fit-content;
}

div.home div.destinations div.tabs {
  width: 100%;
}

div.home div.home-map {
  width: 80%;
  margin: 15px 0 30px 0;
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {
  div.home div.home-content {
    height: 650px;
  }

  div.home div.home-cover {
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  div.home div.home-content div.home-search {
    background-color: #fff;
    padding: 20px;
    margin: 0 5%;
  }
}
