div.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden auto;
  background-color: #fff;
  transform: translate3d(0, 0, 0);
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  div.home div.home-content {
    padding: 60px 0;
    justify-content: flex-start !important;
    height: 800px;
  }

  div.home-cover {
    font-size: 40px;
    font-weight: 800;
    padding: 20px 5px 10px;
  }

  div.home div.home-content div.home-search {
    width: calc(100% - 40px);
    padding: 20px;
    margin: 10px 0;
  }

  div.home div.car-size div.boxes {
    display: flex;
    flex-direction: column;
  }

  div.home div.car-size div.boxes div.box {
    margin-bottom: 30px;
  }
}

/* Device width is between 500px and 960px */

@media only screen and (width >=500px) and (width <=960px) {
  div.home footer div.secure-payment {
    bottom: 0;
  }
}

div.home div.home-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/cover.jpg');
  background-size: cover;
  background-position: bottom;
  width: 100%;
}

div.home div.home-content::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: rgb(51 51 51 / 22%);
  clear: both;
  z-index: 1;
}

div.home div.home-cover {
  z-index: 2;
  color: #fff;
  text-align: center;
  letter-spacing: -.03em;
  -webkit-font-smoothing: antialiased;
}

div.home div.home-content div.home-search {
  box-shadow: 0 3px 5px -1px #0003, 0 1px 18px 0 #0000001F, 0 6px 10px 0 #00000024;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  z-index: 2;
  background-color: #fff;
}

div.home div.home-suppliers {
  width: 80%;
  margin: 20px 0;
}

div.home div.home-suppliers h1 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
}

div.home div.destinations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 50px 0 60px;
}

div.home div.destinations h1 {
  width: fit-content;
  font-weight: 500;
}

div.home div.destinations div.tabs {
  width: 100%;
}

div.home div.car-size {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9F9F9;
  padding: 50px 0;
}

div.home div.car-size h1 {
  font-weight: 500;
  padding: 0 10px;
  text-align: center;
}

div.home div.car-size p {
  max-width: 614px;
  text-align: center;
  line-height: 30px;
  color: #717171;
  margin: 0;
  padding: 0 20px;
}

div.home div.car-size div.boxes {
  margin: 30px 0;
}

div.home div.car-size div.boxes div.box {
  width: 326px;
  height: 273px;
  background-color: #fff;
}

div.home div.car-size div.boxes div.box img {
  max-width: 100%;
  max-height: 140px;
}

div.home div.car-size div.boxes div.box div.box-content {
  padding: 0 15px;
  user-select: none;
}

div.home div.car-size div.boxes div.box div.box-content ul {
  list-style: none;
  padding: 0 0 0 27px;
  margin: 10px 0;
}

div.home div.car-size div.boxes div.box div.box-content span.price {
  font-size: 14px;
  font-weight: bold;
}

div.home div.car-size div.boxes div.box div.box-content span.unit {
  font-size: 14px;
  color: #A9A9A9;
}

div.home div.home-map {
  width: 80%;
  margin: 15px 0 30px;
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {
  div.home div.home-content {
    height: 650px;
  }

  div.home div.home-cover {
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  div.home div.home-content div.home-search {
    padding: 20px;
    margin: 0 5%;
  }

  div.home div.car-size div.boxes {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  div.home div.car-size div.boxes div.box {
    margin-right: 30px;
  }
}
