div.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden auto;
}

div.home footer {
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  color: #70757a;
  border-top: 1px solid #ebebeb;
  position: relative;
  bottom: 0;
}

div.home footer div.copyright span.part1,
div.home footer div.copyright span.part3 {
  font-size: 12px;
}

div.home footer div.copyright span.part2 {
  font-size: 10px;
  position: relative;
  top: -5px;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  div.home div.home-content {
    padding: 110px 0;
  }

  div.home div.home-content div.home-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 140px;
    display: none;
  }

  div.home div.home-content span.home-logo-main,
  div.home div.home-content span.home-logo-registered {
    float: left;
    color: #121212;
    opacity: 0.97;
  }

  div.home div.home-content span.home-logo-main {
    font-size: 70px;
    font-weight: 700;
    line-height: 125px;
  }

  div.home div.home-content span.home-logo-main::after {
    content: 'BookCars';
  }

  div.home div.home-content span.home-logo-registered {
    margin-top: 40px;
    font-size: 15px;
    font-weight: 600;
  }

  div.home div.home-content span.home-logo-registered::after {
    content: '®';
  }

  div.home div.home-content div.home-cover {
    color: #313131;
    font-size: 20px;
    text-align: center;
    margin: 10px 20px;
    text-shadow: 0 0 #212121;
  }

  div.home div.home-content div.home-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 30px);
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin: 10px 0;
  }

  div.home div.home-content div.home-search form.home-search-form {
    display: grid;
    width: 100%;
    max-width: 480px;
  }

  div.home div.home-content div.home-search .pickup-location,
  div.home div.home-content div.home-search .drop-off-location,
  div.home div.home-content div.home-search .from,
  div.home div.home-content div.home-search .to {
    width: 100%;
    padding: 10px;
  }

  div.home div.home-content div.home-search .btn-search {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    height: 52px;
    white-space: nowrap;
    background: #00ACD7;
    color: #fff;
    margin: 10px;
  }

  div.home div.home-content div.home-search .btn-search:hover {
    opacity: 0.95;
  }

  div.home div.home-content .chk-same-location {
    color: rgb(0 0 0 / 70%);
    font-weight: 400;
    line-height: 1.4em;
    font-size: 0.9em;
    display: inline-block;
    width: 100%;
    margin: 10px;
  }

  div.home div.home-content .chk-same-location label {
    cursor: pointer;
    padding: 2px;
    vertical-align: top;
  }

  div.home div.home-content .chk-same-location input[type='checkbox'] {
    cursor: pointer;
  }

  div.home footer div.secure-payment {
    display: none;
  }
}

/* Device width is between 500px and 960px */

@media only screen and (width >=500px) and (width <=960px) {
  div.home footer div.secure-payment {
    bottom: 0;
  }
}

div.home div.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/cover.jpg);
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 107vh;
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {

  div.home div.home-content div.home-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 180px;
    display: none;
  }

  div.home div.home-content span.home-logo-main,
  div.home div.home-content span.home-logo-registered {
    float: left;
    color: #3FA2B9;
    /* color: #0d63c9; */
    opacity: 0.97;
  }

  div.home div.home-content span.home-logo-main {
    font-size: 80px;
    font-weight: 700;
    line-height: 135px;
  }

  div.home div.home-content span.home-logo-main::after {
    content: 'BookCars';
  }

  div.home div.home-content span.home-logo-registered {
    margin-top: 40px;
    font-size: 15px;
    font-weight: 600;
  }

  div.home div.home-content span.home-logo-registered::after {
    content: '®';
  }

  div.home div.home-content div.home-cover {
    color: #494949;
    font-size: 25px;
    text-shadow: 0 0 #a9a9a9;
    text-align: center;
    margin-bottom: 20px;
  }

  div.home div.home-content div.home-search {
    background-color: #fff;
    display: block;
    padding: 20px;
    border-radius: 20px;
    margin: 6% 5%;
  }

  div.home div.home-content div.home-search form.home-search-form {
    display: table;
    width: 100%;
  }

  div.home div.home-content div.home-search .pickup-location {
    display: table-cell;
    width: 350px;
    padding-right: 2px;
    padding-bottom: 10px;
  }

  div.home div.home-content div.home-search .drop-off-location {
    display: table-row;
    width: 350px;
    height: 66px;
  }

  div.home div.home-content div.home-search .from,
  div.home div.home-content div.home-search .to {
    display: table-cell;
    width: 235px;
    padding: 0 2px;
  }

  div.home div.home-content div.home-search .btn-search {
    display: table-cell;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    color: #fff;
    height: 52px;
    min-width: 190px;
    margin: 0;
    white-space: nowrap;
    background: #00ACD7;
    padding: 5px 32px;
    margin-left: 2px;
  }

  div.home div.home-content div.home-search .btn-search:hover {
    opacity: 0.95;
  }

  div.home div.home-content .chk-same-location {
    display: table-row;
    color: rgb(0 0 0 / 70%);
    font-weight: 400;
    line-height: 1.4em;
    font-size: 0.9em;
  }

  div.home div.home-content .chk-same-location label {
    cursor: pointer;
    padding: 2px;
    vertical-align: top;
  }

  div.home div.home-content .chk-same-location input[type='checkbox'] {
    cursor: pointer;
  }

  div.home footer div.secure-payment {
    position: absolute;
    right: 0;
    padding: 5px;
    display: none;
  }

  div.home footer div.secure-payment img {
    height: 32px;
  }
}
