div.home {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

div.home footer {
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    color: #70757a;
    border-top: 1px solid #ebebeb;
}

div.home footer div.copyright span.part1,
div.home footer div.copyright span.part3 {
    font-size: 12px;
}

div.home footer div.copyright span.part2 {
    font-size: 10px;
    position: relative;
    top: -5px;
}

/* Device width is less than or equal to 960px */

@media only screen and (max-width: 960px) {

    div.home div.home-content {
        width: 100%;
        margin: 65px 0 35px 0;
    }

    div.home div.home-content div.home-logo {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 140px;
    }

    div.home div.home-content label.home-logo-main,
    div.home div.home-content label.home-logo-registered {
        float: left;
        color: #f37022;
        opacity: .97;
    }

    div.home div.home-content label.home-logo-main {
        font-size: 70px;
        font-weight: 700;
        line-height: 125px;
    }

    div.home div.home-content label.home-logo-main:after {
        content: 'BookCars';
    }

    div.home div.home-content label.home-logo-registered {
        margin-top: 40px;
        font-size: 15px;
        font-weight: 600;
    }

    div.home div.home-content label.home-logo-registered:after {
        content: '®';
    }

    div.home div.home-content div.home-search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.home div.home-content div.home-search form.home-search-form {
        display: grid;
        width: 100%;
        max-width: 480px;
    }

    div.home div.home-content div.home-search .pickup-location,
    div.home div.home-content div.home-search .drop-off-location,
    div.home div.home-content div.home-search .from,
    div.home div.home-content div.home-search .to {
        width: 100%;
        padding: 10px;
    }

    div.home div.home-content div.home-search .btn-search {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        border: 0;
        border-radius: 5px;
        height: 52px;
        white-space: nowrap;
        background: #f37022;
        color: #fff;
        margin: 10px;
    }

    div.home div.home-content div.home-search .btn-search:hover {
        opacity: .95;
    }

    div.home div.home-content .chk-same-location {
        color: rgba(0, 0, 0, .7);
        font-weight: 400;
        line-height: 1.4em;
        font-size: .9em;
        display: inline-block;
        width: 100%;
        margin: 10px;
    }

    div.home div.home-content .chk-same-location label {
        cursor: pointer;
        padding: 2px;
        vertical-align: top;
    }

    div.home div.home-content .chk-same-location input[type='checkbox'] {
        cursor: pointer;
    }

    div.home footer div.secure-payment {
        display: none;
    }

}

/* Device width is between 500px and 960px */

@media only screen and (min-width: 500px) and (max-width: 960px) {

    div.home footer div.secure-payment {
        bottom: 0;
    }

}

/* Device width is greater than or equal to 960px */

@media only screen and (min-width: 960px) {

    div.home div.home-content {
        width: 980px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 164px;
    }

    div.home div.home-content div.home-logo {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 180px;
    }

    div.home div.home-content label.home-logo-main,
    div.home div.home-content label.home-logo-registered {
        float: left;
        color: #f37022;
        opacity: .97;
    }

    div.home div.home-content label.home-logo-main {
        font-size: 80px;
        font-weight: 700;
        line-height: 135px;
    }

    div.home div.home-content label.home-logo-main:after {
        content: 'BookCars';
    }

    div.home div.home-content label.home-logo-registered {
        margin-top: 40px;
        font-size: 15px;
        font-weight: 600;
    }

    div.home div.home-content label.home-logo-registered:after {
        content: '®';
    }

    div.home div.home-content div.home-search {
        display: block;
    }

    div.home div.home-content div.home-search form.home-search-form {
        display: table;
        width: 100%;
    }

    div.home div.home-content div.home-search .pickup-location {
        display: table-cell;
        width: 350px;
        padding-right: 2px;
        padding-bottom: 10px;
    }

    div.home div.home-content div.home-search .drop-off-location {
        display: table-row;
        width: 350px;
        height: 66px;
    }

    div.home div.home-content div.home-search .from,
    div.home div.home-content div.home-search .to {
        display: table-cell;
        width: 235px;
        padding: 0 2px;
    }

    div.home div.home-content div.home-search .btn-search {
        display: table-cell;
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        border: 0;
        border-radius: 5px;
        color: #fff;
        height: 52px;
        min-width: 100%;
        margin: 0;
        white-space: nowrap;
        background: #f37022;
        padding: 5px 32px;
        margin-left: 2px;
    }

    div.home div.home-content div.home-search .btn-search:hover {
        opacity: .95;
    }

    div.home div.home-content .chk-same-location {
        display: table-row;
        color: rgba(0, 0, 0, .7);
        font-weight: 400;
        line-height: 1.4em;
        font-size: .9em;
    }

    div.home div.home-content .chk-same-location label {
        cursor: pointer;
        padding: 2px;
        vertical-align: top;
    }

    div.home div.home-content .chk-same-location input[type='checkbox'] {
        cursor: pointer;
    }

    div.home footer div.secure-payment {
        position: absolute;
        right: 0;
        padding: 5px;
    }

    div.home footer div.secure-payment img {
        height: 32px;
    }
}