/* Signup */
div.signup {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  justify-content: center;
  margin: 45px 0;
  transform: translate3d(0, 0, 0);
}

div.signup .signup-form-title {
  text-align: center;
  text-transform: capitalize;
  color: #232323;
}

div.signup div.signup-tos {
  margin-top: 10px;
}

/* Device width is less than or equal to 960px */

@media only screen and (width <=960px) {
  div.signup .signup-form {
    width: 350px;
    padding: 30px;
  }

  div.signup .recaptcha {
    margin-top: 25px;
    margin-left: -10px;
  }
}

/* Device width is greater than or equal to 960px */

@media only screen and (width >=960px) {
  div.signup .signup-form {
    width: 550px;
    padding: 30px;
  }

  div.signup .recaptcha {
    margin-top: 25px;
    margin-left: 85px;
  }
}
