div.supplier-filter {
  margin: 10px 0;
  font-size: 13px;
  text-align: center;
}

div.supplier-filter ul.supplier-list {
  list-style-type: none;
  font-size: 13px;
  margin: 15px 0 0;
  padding: 0;
  width: 100%;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

div.supplier-filter ul.supplier-list li {
  margin-bottom: 12px;
  /* margin-left: 15px;
  margin-right: 5px; */
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 32px;
}

div.supplier-filter ul.supplier-list li span.supplier {
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  box-shadow: none;
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 0;
  font-weight: 400;
  margin-left: 5px;
  width: 62px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.supplier-filter ul.supplier-list li span.supplier img {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

div.supplier-filter ul.supplier-list li span.car-count {
  margin-left: 5px;
  width: 35px;
  text-align: left;
}

div.supplier-filter ul.supplier-list li input[type='checkbox'] {
  cursor: pointer;
  display: inline-flex;
}

div.supplier-filter div.filter-actions {
  text-align: center;
  padding-bottom: 10px;
}

div.supplier-filter div.filter-actions span.uncheckall {
  text-decoration: underline;
  cursor: pointer;
  color: #0064c8;
}
